@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right :4%;
}

.nav-link {
  margin: 25px 20px 0;
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-signup {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.login-signup a {
  text-decoration: none;
}

.login-signup .nav-link {
  margin: 25px 40px 0;
  text-decoration: none;
  color: black;
}

.main-wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-top:3%;
  line-height: 30px;
  text-align:left;
  width:50%;
}

.main-wrapper h1,h3{
  text-align: center;
  margin-top: 5px;
}

.main-wrapper p{
  padding-top:15px;
  padding-bottom: 10px;
}

.acc{
  padding-bottom: 15px;
}

.acc-list li{
  margin-left: 5vw;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .main-wrapper{
    width:90%;
  }
}